<p><%= link_to "Português", root_path(locale: "pt-BR") %></p>

<p><%= link_to "English", root_path(locale: "en") %></p>

<h1>Cryptocurrency Wallet</h1>

<h3>Welcome, date: <%= l(Date.today) %></h3>
<p>Site language: <strong> <%= t("actual_locale") %> </strong></p>

<%= render "menu" %>