<p><%= link_to t("languages.portuguese"), root_path(locale: "pt-BR") %></p>

<p><%= link_to t("languages.english"), root_path(locale: "en") %></p>

<h1> <%= t("title") %> </h1>

<h3><%= t("welcome") %>: <%= l(Date.today) %> </h3>
<p><%= t("site_language") %>: <strong> <%= t("actual_locale") %> </strong></p>

<%= render "menu" %>