<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <nav class="bg-light">
      <ul class="nav justify-content-end">
        <li>
        <%= link_to t("links.homepage"), root_path, class:"nav-link" %>
        </li>
        <div class="nav me-auto"></div>
        <li class="nav-item">
        <%= link_to t("languages.english"), url_for(locale: "en"), class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t("languages.portuguese"), url_for(locale: "pt-BR"),  class:"nav-link" %>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>

<p></p>
<p></p>
